h1{
    text-align: center;
    color: teal;
}
a{
    color: rgb(37, 46, 45);
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: teal;
    text-decoration: underline;
}
h2:hover{
    color: teal;
}
a:active{
    color: tomato;
}
p{
    color: rgb(37, 46, 45);
    font-size: 20px;
}
a:visited{
    color: red;
}