
h1{
    text-align: center;
    color: teal;
    border: 2px black solid;
    /* type de bordure */
    /* dotted =pointulle */
    /* dashed =tiré*/
    /* groove */
    /* inset */
    /* outset */
    /* double */
}
h2{
    text-align: center;
    border: 3px black solid;
    border-radius: 7px;
    color: teal;
}
h3{
    border: 3px black solid;
    box-shadow: 7px 10px 4px black;
    text-align: center;
    color: teal;
}
h4{
    border: 3px black solid;
    text-shadow: 10px 10px 4px black;
    text-align: center;
    color: teal;
}